.donut-column {
  border: 2px solid black;
  width: 175px;
  padding: 10px;
  margin: 0 5px;
}

h3 {
  margin: 0;
  text-align: center;
  text-decoration: underline;
}

.donut-container {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
}

.add {
  cursor: crosshair;
}
